/ {
    root ./root/
}

/arma, /arma3, /arma/ {
    redir /arma3/
}

/arma3/ {
    root ./arma3/terminal/public/
}

/starcitizen {
    redir /starcitizen/
}

/starcitizen/ {
    root ./starcitizen/
    markdown {
        css style.css
    }
}

/terminal {
    redir /terminal/
}

/terminal/ {
    root ./terminal/dist/
}

/discord, /discord/* {
    redir https://discordapp.com/invite/eNkDNRh
}

/handbook, /handbook/* {
    redir https://github.com/zeue/www.unnamed.group/tree/preHandbookChange/handbook/docs
}
