/ {
    root ./src/root/
}

/arma, /arma3, /arma/ {
    redir /arma3/
}

/arma3/ {
    root ./src/arma3/
}

/starcitizen {
    redir /starcitizen/
}

/starcitizen/ {
    root ./src/starcitizen/
}

/discord, /discord/* {
    redir https://discordapp.com/invite/eNkDNRh
}

/handbook, /handbook/* {
    redir https://github.com/zeue/www.unnamed.group/tree/preHandbookChange/handbook/docs
}
