{% extends 'secnet/base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col">
        <div class="card-panel yellow black-text">
            <p>Hello <b>{{ userData.Discord.Username }}</b>, welcome to SecNet!</p>
            <p>This is your dashboard, which is still being worked on.</p>
        </div>
    </div>
</div>

{% endblock %}
