{% extends 'secnet/base.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#personaltab">Personal</a></li>
        <li class="tab col s3 disabled"><a href="#leaderboardstab">Leaderboards</a></li>
        <li class="tab col s3 disabled"><a href="#economytab">Economy</a></li>
        <li class="tab col s3 disabled"><a href="#tab4">...</a></li>
      </ul>
    </div>
    <div id="personaltab" class="col s12">
      <div class="card-panel white black-text">
          {% for key, item in statsBundle %}
            <b>{{key}}:</b>
            <br>
            <span class="item">{{item}}</span>
            <br><br>
          {% endfor %}
      </div>
    </div>
    <div id="leaderboardstab" class="col s12">owo</div>
    <div id="economytab" class="col s12">uwu</div>
    <div id="tab4" class="col s12">OvO</div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.0.slim.min.js" integrity="sha256-ZaXnYkHGqIhqTbJ6MB4l9Frs/r7U4jlx7ir8PJYBqbI=" crossorigin="anonymous"></script>

<script type="text/javascript">
  jQuery.fn.autolink = function () {
    return this.each(function () {
      var re = /(^|\s)(((([^:\/?#\s]+):)?\/\/)?(([A-Za-z0-9-]+\.)+[A-Za-z0-9-]+)(:\d+)?([^?#\s]*)(\?([^#\s]*))?(#(\S*))?)/g;
      $(this).html($(this).html().replace(re, function (match, optionalWhitespace, uri, scheme, p4, protocol, fqdn, p7, port, path, query, queryVal, fragment, fragId) {
        return (optionalWhitespace ? optionalWhitespace : '') + '<a href="' + (protocol ? uri : 'http://' + uri) + '" target="_blank">' + uri + '<\/a>';
      }));
    });
  };

  $(".item").autolink();
</script>

{% endblock %}
