html {
  background: #111;
}

@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");

body {
  text-align: center;
  font-family: "Space Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: white;
}
