{% extends 'secnet/base.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
      <div class="col s12">
          <div class="card-panel yellow black-text">
              <p>Hello <b>{{ secnetCommonData.discord.username }}</b>, welcome to SecNet!</p>
              <p>This is your dashboard, which is still being worked on.</p>
          </div>
      </div>
  </div>
</div>

{% endblock %}
