{% extends 'base-public.html.twig' %}

{% block body %}
<div class="container">
	<div id="site-wrap" class="row">
		<div id="box1" class="card mx-auto my-auto rounded-0">
			<h1>
				Who are we?
			</h1>
			<hr style=""/>
			<p class="text-justify">
				We're not your traditional "unit" when it comes to MILSIM, we are a truly friends-first members-second group that enjoys playing Arma 3 the way it's meant to be played, as a video game! (Not some armchair-soldier fantasy)
			</p>
			<h1>
				What do we do?
			</h1>
			<hr style=""/>
			<p class="text-justify">
				We're not your traditional "unit" when it comes to MILSIM, we are a truly friends-first members-second group that enjoys playing Arma 3 the way it's meant to be played, as a video game! (Not some armchair-soldier fantasy)
			</p>
		</div>
	</div>
</div>
{% endblock %}
