{% extends 'public/base.html.twig' %}

{% block head %}{% endblock %}

{% block body %}
	<div class="container" style="margin: 0 !important; padding: 0 !important; max-width: none !important; height: 94vh;">
		<iframe src="https://files.uag.zeue.net" style="width: 100%;height: 100%;">
			iframe loading...
		</iframe>
	</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
	document.getElementById("uagLogo").style.display = "none";
</script>
{% endblock %}
